ion-content {
  position: fixed; 
  top: 47vh;
  height: 53vh;
}

.chart-container {
  background-color: #fff;
  padding-bottom: 3px;
}

.chart {
  margin-top: 1vh;
  width: 100vw;
  height: 23vh; 
}

ion-card {
  margin: 16px;
}

ion-chip {
  margin: 4px 4px 4px 0;
}

