.stats {
  display: flex;
  margin-left: 13px;
}

.up-down {
  margin-left: 1rem;
  margin-top: 6px;
}

.percentage-change-label {
  margin-top: 6px;
}

ion-select {
  padding-left: 20px;
  margin-top: -4px;
}

ion-icon {
  font-size: 18px;
  padding-top: 2px;
}

