<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Charts</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentAboutModal()">
        <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list [inset]="true">
    <ion-item button [routerLink]="['/charts/progress-line-chart']" detail="true">
      <ion-label>
        <h2>Progress Line Chart</h2>
        <p>Interactive ECharts line chart with metric switcher and date ranges</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

