.date-scroller { 
  width: 100%;
  overflow: auto;
  overflow-y: hidden;
  white-space: nowrap;
  overflow-x: auto; 
  flex-direction: row-reverse;
  display: flex;
  scroll-behavior: smooth;
  z-index: 10000;
}

.date-scroller .date {
  flex: 0 0 auto;
  width: 2.6rem;
  height: 2.6rem;
  border: 1px solid var(--ion-color-light-gray, #ddd);
  background-color: var(--ion-color-white, #fff);
  display: inline-block;
  margin-right: .45rem;
  border-radius: 10px;
  text-align: center;
}

.date-scroller .date span {
  font-size: .77rem;
}

.date-scroller .date.today {
  background-color: var(--ion-color-warning, #ffc409);
  border: 1px solid var(--ion-color-warning, #ffc409);
}
.date-scroller .date.selected {
  background-color: var(--ion-color-secondary, #3dc2ff);
  border: 1px solid var(--ion-color-secondary, #3dc2ff);
}
.date-scroller .date.completed {
  border: 2px solid var(--ion-color-success, #2dd36f);
}
button span {
  color: var(--ion-color-black, #000) !important;
  display: block;
  margin: 6px 0;
}
button span.today, button span.selected {
  color: var(--ion-color-white, #fff) !important;
  font-weight: 500;
}

.txt-small-caps {
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 0.5px;
}

.txt-normal-bold {
  font-weight: 600;
}

